
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#272626;}
.pt2 { padding-top:2px ; margin-bottom:2px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:5px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li
 {
      display:inline;
 }
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:10px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:2px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:5px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:5px; text-align:center;}

.text{
  position: relative; 
  top: -125px;
}

<<<<<<< HEAD
=======
.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }
  
button {
  /* 
  
  left: 5px;
  
  text-align: center;
  
  */
  position: fixed;
  bottom: 5px;
  right: 30px;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: rgb(122, 122, 122);
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
>>>>>>> ace10a27796293cd4eaf2f098843bb5ba36a6b26







