<body>
    <div class="container">
        <br><br>

        <div *ngIf="company" class="table-responsive-md " id="">

            <button type="submit" class="btn btn-primary buy-btn" (click)="goToAddcompany()">Add Stock
            </button>&nbsp;&nbsp;
            <button type="submit" class="btn btn-info" (click)="gotoAllClient()">Get-All-Clients</button>
            <button type="submit" class="btn btn-danger" (click)="goToHome()"
                style="margin-left:780px;">Log-out</button>
            <table class="table table-borderles table-hover" id="excel-table" style="margin-top: 10px;">
                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Company Id</th>
                        <th>Open Price</th>
                        <th>Close Price</th>
                        <th>Least Rate</th>
                        <th>Peak Rate</th>
                        <th>Year Low</th>
                        <th>Year High</th>
                        <th>P E Ratio</th>
                        <th>Market Cap</th>
                        <th>Quantity</th>
                        <th>Current Price</th>
                        <th>Action</th>
                        <th></th>

                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let elements of company | async ">

                        <td>{{elements.name}}</td>
                        <td>{{elements.company_id}}</td>
                        <td>{{elements.open_rate}}</td>
                        <td>{{elements.close_rate}}</td>
                        <td>{{elements.least_rate}}</td>
                        <td>{{elements.peak_rate}}</td>
                        <td>{{elements.year_low}}</td>
                        <td>{{elements.year_high}}</td>
                        <td>{{elements.p_e_ratio}}</td>
                        <td>{{elements.market_cap}}</td>
                        <td>{{elements.volume}}</td>
                        <td>{{elements.current_rate}}</td>
                        <td><button type="submit" class="btn btn-outline-danger"
                                (click)="deleteCompany(elements.company_id)">Delete </button></td>
                        <td><button type="submit" class="btn btn-outline-success"
                                (click)="updateCompany(elements.company_id)">Update </button></td>

                    </tr>

                </tbody>
            </table>
        </div>




        <p *ngIf="!company" class="noData">
            Nothing available
        </p>
    </div>
</body>