<!-- <div class="background" *ngIf="showImage"> -->
  <!-- <div class="sideimage">
    <div class="card"></div>
    <img
      class="card-img-bottom"
      src="https://img.lovepik.com/free-template/bg/20200904/bg/58b877288b0bf_410641.png_list.jpg"
      alt="Card image cap"
    />
  </div> -->

  <div class="containerside">
    <div *ngIf="switchToLoginPage" class="login bgimg">
      <form (ngSubmit)="checkLogin(mail, pass)">
        <div class="card align-items-center container containerLogin">
          <div class="formElements">
            <div class="mailId">
              <span class="formicon"
                ><img src="assets/images/login.png" width="70" height="70" 
              /></span>
              <span class="formtagline">
                <h3 style="text-align: center">USER LOGIN</h3>
              </span>
              <br />
              <div *ngIf="invalidLogin" class="text-danger">
                {{ errorMessage }}
              </div>
              <label>User Name</label>
              <input
                type="email"
                required
                class="form-control"
                name="mailid"
                [(ngModel)]="mailid"
                #mail="ngModel"
                minlength="3"
                email
              />

              <div
                *ngIf="mail.invalid; else elseBlock"
                class="text-danger warningMessage"
              >
                <div *ngIf="mail.errors.minlength">
                  Minimum 3 character required
                </div>
                <div *ngIf="mail.errors.email && !mail.errors.minlength">
                  Enter a valid Mail ID
                </div>
              </div>
            </div>

            <div class="password">
              <br /><label>Password</label>
              <input
                type="password"
                class="form-control"
                name="password"
                [(ngModel)]="password"
                #pass="ngModel"
                required
                minlength="3"
              />

              <div *ngIf="pass.invalid" class="text-danger warningMessage">
                <div *ngIf="pass.errors.minlength">
                  Minimum 3 character required
                </div>
              </div>
            </div>
          </div>

          <br />
          <div class="btn-wrapper text-center">
            <a href="https://github.com/login" class="btn btn-neutral btn-icon">
              <img
                src="https://img.icons8.com/material-outlined/24/000000/github.png"
              />
              <span class="btn-inner--text">Github</span>
            </a>
            <a
              href="https://accounts.google.com/login/identifier?flowName=GlifWebSignIn&flowEntry=ServiceLogin"
              class="btn btn-neutral btn-icon"
            >
              <img
                src="https://img.icons8.com/color/30/000000/google-logo.png"
              />
              <span class="btn-inner--text">Google</span>
            </a>
          </div>

          <div class="btncheck">
            <button
              type="submit"
              [disabled]="checkValidLogin(mail, pass)"
              class="btn btn-primary"
              height="300px"
              width="300px"
              style="margin-right: 30px"
            >
              Login
            </button>

            <button
              type="submit"
              (click)="switchToRegister()"
              class="btn btn-primary"
              height="100px"
              width="100px"
            >
              New User?
            </button>
          </div>

          <a routerLink="/forgotpassword" class="registerButton"
            >Forget Password?</a
          >
        </div>
      </form>
    </div>
  </div>
<!-- </div> -->
<div id="sect1">
  <div *ngIf="!switchToLoginPage" class="register bgimg">
    <br /><br />

    <form (ngSubmit)="registerNewUser()">
      <div class="card align-items-center container containerRegister">
        <div class="formElements">
          <div *ngIf="invalidUser" class="text-danger warningMessage">
            {{ errorMessage }}
          </div>
          <br />
          <br />
          <div class="mailId">
            <label>Mail ID</label>
            <input
              type="email"
              required
              class="form-control"
              name="mailid"
              [(ngModel)]="mailid"
              #mail="ngModel"
              email
              placeholder="ex. abc@gmail.com"
            />

            <div *ngIf="mail.invalid" class="text-danger warningMessage">
              <div *ngIf="mail.errors.email">Enter a valid Mail ID</div>
            </div>
          </div>

          <div class="username">
            <br /><label>UserName</label>
            <input
              type="text"
              required
              class="form-control"
              name="username"
              [(ngModel)]="username"
              #user="ngModel"
              minlength="3"
              placeholder="UserName"
            />

            <div *ngIf="user.invalid" class="text-danger warningMessage">
              <div *ngIf="true && user.errors.minlength">
                Minimum 3 character required
              </div>
            </div>
          </div>

          <div class="adhar">
            <br /><label>Phone Number</label>
            <input
              type="text"
              required
              class="form-control"
              name="phone"
              [(ngModel)]="phone"
              #ph="ngModel"
              pattern="[0-9]*"
              minlength="10"
              maxlength="10"
              placeholder="ex. 1234-567-890"
            />

            <div *ngIf="ph.invalid" class="text-danger warningMessage">
              <div *ngIf="ph.errors.pattern">
                Phone number should have digits only
              </div>
              <div *ngIf="ph.errors.minlength && !ph.errors.pattern">
                Minimum 10 digits required
              </div>
            </div>
          </div>

          <div class="password">
            <br /><label>Password</label>
            <input
              type="password"
              required
              class="form-control"
              name="password"
              [(ngModel)]="password"
              #pass="ngModel"
              placeholder="Password..."
            />

            <div *ngIf="pass.invalid" class="text-danger warningMessage">
              <div *ngIf="pass.errors.pattern">
                Password doesn't match the pattern
              </div>
            </div>
          </div>
        </div>

        <br /><button
          type="submit"
          [disabled]="checkValidUser(mail, user, ph, pass)"
          class="btn btn-primary"
        >
          Register
        </button>
        <p>
          If you already have an account.
          <a (click)="switchToLogin()" class="loginButton">Login</a>
        </p>
      </div>
      <p style="margin-top: 50px;">
        <app-footer></app-footer></p>
    </form>
  </div>
</div>
