<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<div class="heading">
    
    <div *ngIf="history" class="table-responsive-md " id="">
        <button type="submit"  class="fas fa-arrow-alt-circle-down" (click)="exportexcel()" style="border: 0ch; background-color: white;" > </button>
  
        
          <table class="table table-borderles table-hover"  id="excel-table" style="margin-top: 10px;">
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>Company Name</th>
                    <th>Company Id</th>
                    <th>Amount</th>
                    <th>Quantity</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Buy/Sell</th>

                   
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let elements of history | async ">
                    <td>{{elements.sno}}</td>
                    <td >{{elements.company_name}}</td>
                    <td>{{elements.company_id}}</td>
                    <td>{{elements.price}}</td>
                    <td>{{elements.quantity}}</td>
                    <td>{{elements.date}}</td>
                    <td>{{elements.time}}</td>
                    <td [ngClass]="{'green': (elements.price < 0),'red':(elements.price > 0)}" style="font-size: large;">
                    {{elements.type}}</td>

                </tr>

            </tbody>
        </table>
    </div>

    <p *ngIf="!history" class="noData">
        Nothing available in your Transactions
    </p>
</div>